{% extends "ProyectoFinal/loggedInBase.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        	<img class="img-responsive" src="{% static "img/profile.png" %}" alt="" style="float:left;display:inline-block;width:30%">
        	<div style="margin-left:33%;">
        	<div class="row control-group" style="float:left;width:70%;display:inline-block">
        		<div class="form-group col-xs-12 floating-label-form-group controls">
                    <div>{{ user.first_name }} {{ user.last_name }}</div>
                </div>
            </div>
            <div class="row control-group" style="float:left;width:70%;display:inline-block">
        		<div class="form-group col-xs-12 floating-label-form-group controls">
                	{{ user.email }}
                </div>
            </div>
            <hr>
           	<a type="button" class="btn btn-primary" style="margin-top: 20px; float:left;width:70%;display:block" href="{% url "userFavorites" %}">Favoritos</a>
            </div>
    </div>
{% endblock content %}

{% block current_page_name %}
    Mi cuenta
{% endblock current_page_name %}