{% extends "ProyectoFinal/loggedInBase.html" %}
{% load staticfiles %}
{% block current_page_name %}
    Favoritos
{% endblock current_page_name %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Favoritos</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% if not favorites %}
                <h3>No tienes favoritos. ¿Por qué no buscas una empresa y la agregas?</h3>
            {% else %}
                {% for favorite in favorites %}
                    <div class="col-xs-3">
                        <a href="{% url "companyInfo" favorite.id %}" class="portfolio-link" data-toggle="modal">
                            <h5>
                                {{ favorite.company.name }}
                            </h5>
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}
