{% extends "ProyectoFinal/loggedInBase.html" %}


{% block current_page_name %}
    Detalle de compañía
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['Day', 'Ajuste al Cierre'],
          ['{{ record9.date }}',  {{ record9.adj_close }}],
          ['{{ record8.date }}',  {{ record8.adj_close }}],
          ['{{ record7.date }}',  {{ record7.adj_close }}],
          ['{{ record6.date }}',  {{ record6.adj_close }}],
          ['{{ record5.date }}',  {{ record5.adj_close }}],
          ['{{ record4.date }}',  {{ record4.adj_close }}],
          ['{{ record3.date }}',  {{ record3.adj_close }}],
          ['{{ record2.date }}',  {{ record2.adj_close }}],
          ['{{ record1.date }}',  {{ record1.adj_close }}]
        ]);

        var options = {
          curveType: 'function',
          legend: { position: 'bottom'}
        };

        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

        chart.draw(data, options);
      }
    </script>
{% endblock current_page_name %}

{% block content %}

    <div class="container" style="margin-top: 70px;">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ company.name }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="info-container col-md-2">
        <div class="errorlist">
            {% if error_message %}<h3 class="error-message text-center">{{ error_message }}</h3>{% endif %}
        </div>
        <div class="text-center">
            <h4>{{ company.initials }}</h4>
        </div>
        <hr class="star-primary">
        <div class="text-center">
            <h5>Baja:{{ low }}</h5>
            <h5>Alta:{{ high }}</h5>
            <h5>Apertura:{{ open }}</h5>
            <h5>Cierre:{{ close }}</h5>
            <h5>Volúmen:{{ volume }}</h5>
        </div>
        <hr class="star-primary">
        <div class="text-center">
            <h5>Predicción:{{ prediction|floatformat }}</h5>
        </div>
        <hr>
        </div>
    <div id='chartContainer' class="col-md-9 col-md-offset-1">
        <div id="curve_chart" style="width: 700px; height: 500px; margin: auto; border: 3px solid #18bc9c; padding: 10px; margin-bottom: 10px;"></div>
    </div>
        <div class="row text-center">
            <a type="button" style="margin-top: 20px" class="btn btn-primary" href="{% url "addToFavorites" company.id %}">Agregar a favoritos</a>
        </div>
    </div>
{% endblock content %}