{% extends "ProyectoFinal/loggedInBase.html" %}
{% block current_page_name %}
    Consulta de compañías
{% endblock current_page_name %}

{% block content %}
    <div class="container">
        <div class="col-sm-5">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Compañias populares</h3>
                    {% for company in popularCompanies %}
                        <div class="col-xs-5 col col-xs-offset-1">
                        <a href="{% url "companyInfo" company.id %}" class="portfolio-link" data-toggle="modal">
                            <h5>
                                {{ company.name }}
                            </h5>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-sm-offset-2">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3>Buscar</h3>
                </div>
                <form action="{% url "companyConsultMenu" %}" method="post">
                    {% csrf_token %}
                    <div class="form-group search-box">
                        <input type="text" class="form-control" id="search_string" name="search_string" placeholder="Nombre o iniciales" maxlength="70" value="{{ searchString }}">
                        <button class="btn" type="submit"><i class="fa fa-fw fa-search"></i></button>
                    </div>
                </form>
                {% for company in searchResults %}
                    <div class="col-xs-5 col col-xs-offset-1">
                    <a href="{% url "companyInfo" company.id %}" class="portfolio-link" data-toggle="modal">
                        <h5>
                            {{ company.name }}
                        </h5>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock content %}