{% extends "ProyectoFinal/base.html" %}
 {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Crear nueva cuenta</h2>
                <hr class="star-primary">
            </div>
        </div>
         <div class="errorlist">
                {% if error_message %}<h3 class="error-message text-center">{{ error_message }}</h3>{% endif %}
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate action="{% url "createUser" %}" method="post">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nombre de usuario:</label>
                            <input type="text" class="form-control" placeholder="Nombre de usuario" id="username" name="username" required data-validation-required-message="Ingrese el nombre de usuario deseado.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nombre:</label>
                            <input type="text" class="form-control" placeholder="Nombre" id="first_name" name="first_name" required data-validation-required-message="Ingrese su nombre de pila.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Apellido:</label>
                            <input type="text" class="form-control" placeholder="Apellido" id="last_name" name="last_name" required data-validation-required-message="Ingrese su apellido.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Correo electronico:</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" name="email" required data-validation-required-message="Ingrese su correo de contacto.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password:</label>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password" required data-validation-required-message="Ingrese su contraseña.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Confirmacion de password:</label>
                            <input type="password" class="form-control" placeholder="Confirmacion de password" id="password_conf" name="password_conf" required data-validation-required-message="Ingrese la misma contraseña que ingreso en el recuadro anterior.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br/>
                    <center><button type="submit" class="btn btn-success btn-lg">Enviar</button></center>

                </form>
            </div>
        </div>
    </div>
 {% endblock content %}