{% extends "ProyectoFinal/base.html" %}
 {% block content %}
     <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Login</h2>
                <hr class="star-primary">
            </div>
        </div>
         <div class="errorlist">
                {% if error_message %}<h3 class="error-message text-center">{{ error_message }}</h3>{% endif %}
            </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" novalidate action="{% url "authenticate" %}" method="post">
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nombre de usuario:</label>
                            <input type="text" class="form-control" placeholder="Nombre de usuario" id="login_name" name="login_name" required data-validation-required-message="Ingrese su nombre de usuario.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Password:</label>
                            <input type="password" class="form-control" placeholder="Password" id="password" name="password" required data-validation-required-message="Ingrese su contraseña.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br/>
                    <center><button type="submit" class="btn btn-success btn-lg">Entrar</button></center>

                </form>
                <hr>
                 <a class="no-underline-link" href="{% url 'createUserForm' %}"><button class="btn btn-lg btn-primary btn-block text-center">Crear cuenta</button></a>
            </div>
        </div>
    </div>
 {% endblock content %}