.centerg {
    margin: auto;
    width: 60%;
    border: 3px solid green;
    padding: 10px;
}

.center {
    margin:auto;
    padding:10px;
}

.centery {
    margin: auto;
    width: 60%;
    border: 3px solid yellow;
    padding: 10px;
}

.centerr {
    margin: auto;
    width: 60%;
    border: 3px solid red;
    padding: 10px;
}
/*Login*/

.password-field {
    margin-bottom: 10px;
}

.username-field {
    margin-bottom: 10px;
}

.error-message {
    color:red;
    font-weight:bold;
}

.errorlist {
    margin-bottom: 10px;
}

/*Menu*/

.navigation-buttons {
    text-align: center;
    margin: 20px;
}

.username-box {
    text-align: center;
    margin: 20px;
    border:1px solid black;
    border-radius: 10px;
    padding:20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.title-text {
}

.menu-button {
margin: 10px;
}

.no-underline-link {
    text-decoration: none
}

.no-underline-link:hover {
    text-decoration: none
}


@media (min-width: 768px) {
  section {
      margin-top: 70px;
  }
}

.search-box {
    display: -webkit-inline-box;
}

section {
      margin-top: 70px;
  }