{% extends "ProyectoFinal/base.html" %}

{% block navigation_items %}
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url "mainMenu" %}">Menú</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url "companyConsultMenu" %}">Consulta de compañías</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url "accountMenu" %}">Mi cuenta</a>
                    </li>
                    <li class="page-scroll">
                        <a href="{% url "logout" %}">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
{% endblock navigation_items %}