{% extends "ProyectoFinal/loggedInBase.html" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Bienvenido, {{ loggedUser }}</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="navigation-buttons">
            <a href="{% url "accountMenu" %}"><button class="btn btn-primary menu-button" id="buttonMyAccount">Mi cuenta</button></a>
            <a href="{% url "companyConsultMenu" %}"><button class="btn btn-primary menu-button" id="buttonCompanyConsult">Consulta de compañías</button></a>
            <a href="{% url "logout" %}"><button class="btn btn-danger menu-button" id="logoutButton">Cerrar sesión</button></a>
        </div>
    </div>
{% endblock content %}

{% block current_page_name %}
    Menú principal
{% endblock current_page_name %}